.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    padding-left: 35px;
    
  }
  
  .task.reminder {
    border-left: 20px solid green;
  }

  .task-title {
    cursor: pointer;
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .task h3 span {
    display: flex;
    align-items: center;
  }

  .task:hover {
    background: lightgray;
  }

  fa-icon {
    padding-left: 35px;
  }

  fa-icon:hover {
    cursor: pointer;
  }

  
  
  